.body{
    display: flex;
    justify-content: center;
}
.upper{
    width: 80%;
}
.image{
    width: 80%;
    align-self: center;
}
.content{
    margin-top: 20px;
}
.recipe{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: thin;
    box-shadow: 5px 5px 5px black;
    width: fit-content;
    height: fit-content;
}
