body{
    /* background-color: #ffe3de; */
    display: flex;
    justify-content: center;
}
.body{
    background-color: white;
}
.upper{
    width: 80%;
}
.image{
    width: 80%;
    align-self: center;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    opacity: 0.8;
    word-spacing: 2px;
}
span{
    font-weight: bold;
    opacity: 1;
}
.color{
    color: #eb5e0b;
}
.ingredient{
    width: 60%;
}
.ingredient .food-content ul li{
    list-style: none;
    align-self: start;
    margin: 15px;
    margin-left: -30px;
    
}
.check{
    margin-right: 20px;
    font-size: 20px;
}
.recipe{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: thin;
    box-shadow: 5px 5px 5px black;
    width: fit-content;
    height: fit-content;
}
.icon-wrapper{
    display: flex;
    flex-direction: row;
}
.count{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 12px;
}


@media (max-width: 900px){
    .content{
        flex-direction: column-reverse;
    }
    .recipe{
        padding: 20px 50px;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 30px;
    }

}
